*{
    margin: 0;
    padding: 0;
}
:root {
    --clr--colr: orangered;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
    height: 100vh;
    background-image: url("img.jpg");
    background-size: cover;
    font-family: "Poppins";
}
.Welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    border-radius: 20px;
    gap:30px;
    padding: 20px;
    box-shadow: 0px 0px 15px;
    background-color: white;
    color: rgba(0, 0, 0, 0.324);
    backdrop-filter: blur(10px);
    text-align: center;
}
.Welcome h1{
    font-size: 40px;
    font-weight: 700;
    color:black;
}
.Welcome button{
    padding: 10px 80px;
    border:none;
    border-radius: 30px;
    background-color: var(--clr--colr);
    font-size: 18px;
    color:white;
    font-weight: 700;
}

.Types{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    border-radius: 20px;
    gap:30px;
    padding: 20px;
    box-shadow: 0px 0px 15px;
    background-color: white;
    backdrop-filter: blur(10px);
    text-align: center;
    display: none;
}
.Category{
    width:70%;
    padding: 10px 0px;
    font-size: 22px;
    border-radius: 30px;
    transition: 1s ease;
    background-color: var(--clr--colr);
    color:white;
    font-weight: 500;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:500px;
    border-radius: 20px;
    gap:20px;
    padding: 20px;
    box-shadow: 0px 0px 15px;
    background-color:white;
    backdrop-filter: blur(10px);
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    display: none;
}

.question{
    font-size: 28px;
    text-align: left;
    width:100%;
}
.option{
    display: grid;
    place-items: center;
    width:100%;
    gap:20px
}
.Answer{
    width:70%;
    padding: 5px 20px;
    font-weight: 500;
    border-radius: 30px;
    transition: 1s ease;
    background-color: var(--clr--colr);
    color:white;
}

.Controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
.main-content button{
    border:none;
    font-size: 18px;
    padding: 12px;
    width:120px;
    border-radius: 30px;
    background-color:teal;
    color:white;
    font-weight: 700;
    transition: 1s ease;
}
.score{
    font-size: 18px;
    padding: 10px;
    width:100px;
    border-radius: 30px;
    background-color:teal;
    color:white;
    font-weight: 700;
    transition: 1s ease;
}
.main-content h3{
    color:rgba(0, 0, 0, 0.46);
    font-size: 25px;
    transition: 0.5s ease;
    display: none;
}
.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:500px;
    border-radius: 20px;
    gap:40px;
    padding: 20px;
    box-shadow: 0px 0px 15px black;
    background-color: white;
    backdrop-filter: blur(10px);
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.324);
    display: none;
}
.result button{
    border:none;
    font-size: 23px;
    padding: 10px 70px;
    border-radius: 30px;
    background-color:var(--clr--colr);
    color:white;
    font-weight: 700;
    transition: 0.5s ease;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.effect:hover{
    background-color: var(--clr--colr);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    transform: scale(1.1);
}
.Hover:hover{
    background-color:teal;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    transform: scale(1.1);
}
.effect:active,
.Hover:active{
    transform: scale(0.80);
    transition: 0.3s ease;
}